# Configuración de Flask
FLASK_APP=src/app.py
FLASK_ENV=production

# Base de datos MySQL
# Cambia 'vete_user', 'vete_password', 'localhost', '3306' y 'veterinaria_db'
# por las credenciales de tu base de datos en Railway u otro servicio
DATABASE_URL=mysql+pymysql://vete_user:vete_password@localhost:3306/veterinaria_db

# Claves de Seguridad y JWT
# MUY IMPORTANTE: Cambia estas claves por cadenas largas y aleatorias en producción
SECRET_KEY=tu_secreto_super_seguro_y_aleatorio
JWT_SECRET_KEY=tu_secreto_jwt_super_seguro_y_aleatorio
